body {
    background: url("https://s3.envato.com/files/3462d427-2081-4647-abe1-0547a40dbe92/inline_image_preview.jpg");
    background: position 100%;
    background-size: cover;
    background-repeat:repeat; /*when open in small screen than background shows twice */
        }

#ferris{
    width: 100vh;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#wheel{
    width: 75%;
    height: 75%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}
#wheel1{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1.5vh solid rgb(11, 199, 136);
    border-radius: 50%;
}

#wheel2{
    box-sizing: border-box;
    width: 60%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2vh solid rgb(214, 214, 105);
    border-radius: 50%;
}
#stand{
    position: absolute;
    top: 49%;
    height: 80%;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    background-color:rgb(255, 136, 0);

    clip-path: polygon(50% 0%, 100% 100%, 90% 100%, 50% 10%, 10% 100%, 0% 100%);
}
#base{
    width: 100%;
    height: 1vh;
    position: absolute;
    bottom: -22%;
    background-color:rgb(117, 114, 114);
}

.spoke{
    height: 95%;
    width: 2%;
    background-color: #ffffff;

    position: absolute;
    left: 49%;
    top: 2%;
}
.seat{
    width: 10%;
    height: 20%;
    /* background-color: #d6fa0c; */
    position: absolute;
    transform: translateX(-50%);
}
.clip{
    width: 100%;
    height: 40%;
    background-color: #84f108;

    clip-path: polygon(50% 20%, 100% 100%, 85% 100%, 50% 25%, 15% 100%, 0% 100%);
}
.box{
    box-sizing: border-box;
    width: 100%;
    height: 40%;
    border: 1vh solid #e00031;

    position: relative;
}
.doorA{
    width: 100%;
    position: absolute;
    top: 50%;
    height: 50%;
    background-color:#73ff6e;
}
.doorB{
    width: 100%;
    position: absolute;
    top: 50%;
    height: 50%;
    width: 50%;
    background-color: #d6fa0c;
}

